{% if player1_info and player2_info %}
<table id="career-stats-table">
    <tr>
        <th colspan="3">Career Statistics (Per Game)</th>
    </tr>
    <tr>
        <td>
            {% if player1_info.is_active == 'True' %}
                <i class="fas fa-check"></i>
            {% else %}
                <i class="fas fa-times"></i>
            {% endif %}
        </td>
        <td>Active</td>
        <td>
            {% if player2_info.is_active == 'True' %}
                <i class="fas fa-check"></i>
            {% else %}
                <i class="fas fa-times"></i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="{% if player1_stats.games_played > player2_stats.games_played %}highlight-cell{% elif player2_stats.games_played == 'N/A' and player1_stats.games_played != 'N/A' %}highlight-cell{% endif %}">{{ player1_stats.games_played }}</td>
        <td>Games Played</td>
        <td class="{% if player2_stats.games_played > player1_stats.games_played %}highlight-cell{% elif player1_stats.games_played == 'N/A' and player2_stats.games_played != 'N/A' %}highlight-cell{% endif %}">{{ player2_stats.games_played }}</td>
    </tr>
    <tr>
        <td class="{% if player1_stats.career_ppg > player2_stats.career_ppg %}highlight-cell{% elif player2_stats.career_ppg == 'N/A' and player1_stats.career_ppg != 'N/A' %}highlight-cell{% endif %}">{{ player1_stats.career_ppg }}</td>
        <td>PTS</td>
        <td class="{% if player2_stats.career_ppg > player1_stats.career_ppg %}highlight-cell{% elif player1_stats.career_ppg == 'N/A' and player2_stats.career_ppg != 'N/A' %}highlight-cell{% endif %}">{{ player2_stats.career_ppg }}</td>
    </tr>
    <tr>
        <td class="{% if player1_stats.career_apg > player2_stats.career_apg %}highlight-cell{% elif player2_stats.career_apg == 'N/A' and player1_stats.career_apg != 'N/A' %}highlight-cell{% endif %}">{{ player1_stats.career_apg }}</td>
        <td>AST</td>
        <td class="{% if player2_stats.career_apg > player1_stats.career_apg %}highlight-cell{% elif player1_stats.career_apg == 'N/A' and player2_stats.career_apg != 'N/A' %}highlight-cell{% endif %}">{{ player2_stats.career_apg }}</td>
    </tr>
    <tr>
        <td class="{% if player1_stats.career_rpg > player2_stats.career_rpg %}highlight-cell{% elif player2_stats.career_rpg == 'N/A' and player1_stats.career_rpg != 'N/A' %}highlight-cell{% endif %}">{{ player1_stats.career_rpg }}</td>
        <td>REB</td>
        <td class="{% if player2_stats.career_rpg > player1_stats.career_rpg %}highlight-cell{% elif player1_stats.career_rpg == 'N/A' and player2_stats.career_rpg != 'N/A' %}highlight-cell{% endif %}">{{ player2_stats.career_rpg }}</td>
    </tr>
    <tr>
        <td class="{% if player1_stats.career_bpg > player2_stats.career_bpg %}highlight-cell{% elif player2_stats.career_bpg == 'N/A' and player1_stats.career_bpg != 'N/A' %}highlight-cell{% endif %}">{{ player1_stats.career_bpg }}</td>
        <td>BLK</td>
        <td class="{% if player2_stats.career_bpg > player1_stats.career_bpg %}highlight-cell{% elif player1_stats.career_bpg == 'N/A' and player2_stats.career_bpg != 'N/A' %}highlight-cell{% endif %}">{{ player2_stats.career_bpg }}</td>
    </tr>
    <tr>
        <td class="{% if player1_stats.career_spg > player2_stats.career_spg %}highlight-cell{% elif player2_stats.career_spg == 'N/A' and player1_stats.career_spg != 'N/A' %}highlight-cell{% endif %}">{{ player1_stats.career_spg }}</td>
        <td>STL</td>
        <td class="{% if player2_stats.career_spg > player1_stats.career_spg %}highlight-cell{% elif player1_stats.career_spg == 'N/A' and player2_stats.career_spg != 'N/A' %}highlight-cell{% endif %}">{{ player2_stats.career_spg }}</td>
    </tr>
    <tr>
        <td class="{% if player1_stats.career_fg_pct > player2_stats.career_fg_pct %}highlight-cell{% elif player2_stats.career_fg_pct == 'N/A' and player1_stats.career_fg_pct != 'N/A' %}highlight-cell{% endif %}">
            {{ player1_stats.career_fg_pct }}{% if player1_stats.career_fg_pct != "N/A" %}%{% endif %}
        </td>
        <td>FG%</td>
        <td class="{% if player2_stats.career_fg_pct > player1_stats.career_fg_pct %}highlight-cell{% elif player1_stats.career_fg_pct == 'N/A' and player2_stats.career_fg_pct != 'N/A' %}highlight-cell{% endif %}">
            {{ player2_stats.career_fg_pct }}{% if player2_stats.career_fg_pct != "N/A" %}%{% endif %}
        </td>
    </tr>
    <tr>
        <td class="{% if player1_stats.career_3p_pct > player2_stats.career_3p_pct %}highlight-cell{% elif player2_stats.career_3p_pct == 'N/A' and player1_stats.career_3p_pct != 'N/A' %}highlight-cell{% endif %}">
            {{ player1_stats.career_3p_pct }}{% if player1_stats.career_3p_pct != "N/A" %}%{% endif %}
        </td>
        <td>3P%</td>
        <td class="{% if player2_stats.career_3p_pct > player1_stats.career_3p_pct %}highlight-cell{% elif player1_stats.career_3p_pct == 'N/A' and player2_stats.career_3p_pct != 'N/A' %}highlight-cell{% endif %}">
            {{ player2_stats.career_3p_pct }}{% if player2_stats.career_3p_pct != "N/A" %}%{% endif %}
        </td>
    </tr>
    <tr>
        <td class="{% if player1_stats.career_ft_pct > player2_stats.career_ft_pct %}highlight-cell{% elif player2_stats.career_ft_pct == 'N/A' and player1_stats.career_ft_pct != 'N/A' %}highlight-cell{% endif %}">
            {{ player1_stats.career_ft_pct }}{% if player1_stats.career_ft_pct != "N/A" %}%{% endif %}
        </td>
        <td>FT%</td>
        <td class="{% if player2_stats.career_ft_pct > player1_stats.career_ft_pct %}highlight-cell{% elif player1_stats.career_ft_pct == 'N/A' and player2_stats.career_ft_pct != 'N/A' %}highlight-cell{% endif %}">
            {{ player2_stats.career_ft_pct }}{% if player2_stats.career_ft_pct != "N/A" %}%{% endif %}
        </td>
    </tr>
    <tr>
        <td class="{% if player1_stats.career_tpg < player2_stats.career_tpg %}highlight-cell{% elif player2_stats.career_tpg == 'N/A' and player1_stats.career_tpg != 'N/A' %}highlight-cell{% endif %}">{{ player1_stats.career_tpg }}</td>
        <td>TOV</td>
        <td class="{% if player2_stats.career_tpg < player1_stats.career_tpg %}highlight-cell{% elif player1_stats.career_tpg == 'N/A' and player2_stats.career_tpg != 'N/A' %}highlight-cell{% endif %}">{{ player2_stats.career_tpg }}</td>
    </tr>
    <tr>
        <td class="{% if player1_stats.career_fpg < player2_stats.career_fpg %}highlight-cell{% elif player2_stats.career_fpg == 'N/A' and player1_stats.career_fpg != 'N/A' %}highlight-cell{% endif %}">{{ player1_stats.career_fpg }}</td>
        <td>PF</td>
        <td class="{% if player2_stats.career_fpg < player1_stats.career_fpg %}highlight-cell{% elif player1_stats.career_fpg == 'N/A' and player2_stats.career_fpg != 'N/A' %}highlight-cell{% endif %}">{{ player2_stats.career_fpg }}</td>
    </tr>
</table>
{% endif %}
