{% load custom_filters %}
<!-- nba_app/templates/nba_app/compare_players.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compare NBA Players</title>
</head>
<body>
    <h1>Compare NBA Players</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Compare</button>
    </form>

    {% if player1_info and player2_info %}
        <h2>
            {{ player1_info.player_info.CommonPlayerInfo.0.DISPLAY_FIRST_LAST }} vs
            {{ player2_info.player_info.CommonPlayerInfo.0.DISPLAY_FIRST_LAST }}
        </h2>
        <table>
            <tr>
                <th>Stat</th>
                <th>{{ player1_info.player_info.CommonPlayerInfo.0.DISPLAY_FIRST_LAST }}</th>
                <th>{{ player2_info.player_info.CommonPlayerInfo.0.DISPLAY_FIRST_LAST }}</th>
            </tr>
            <tr>
                <td>Career PPG</td>
                <td>{{ player1_info.career_ppg }}</td>
                <td>{{ player2_info.career_ppg }}</td>
            </tr>
        </table>
    {% endif %}
</body>
</html>